@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ThemeView>

@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Main";
    Layout = "_Layout"; 
   
}

@foreach(var i in Model)
{   
    <div class="main">
        @*<button onclick="changeRate('+', '@i.AspNetUsersId')">+</button>
        <label>@i.Rate</label>
        <button onclick="changeRate('-', '@i.AspNetUsersId')">-</button>*@
        <a asp-action="Theme" asp-route-id="@i.Id">@i.Title</a>
        <p>Дата - @i.Date.ToLocalTime().</p>
        <p>Создатель - @i.Writer</p>
        
    </div>
}

