@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ThemeView

@inject UserManager<ApplicationUser> UserManager

@{
    
}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>@Model.Title</h1>
    <p>@Model.Content</p>
    @if (@Model.Writer == UserManager.GetUserName(User) || User.IsInRole("Admin"))
    {
        <form asp-controller="Main" asp-action="Delete">
            <input type="hidden" name="id" value="@Model.Id"/>
            <button>Удалить</button>
        </form>
    }
</div>
<hr/>
<form asp-action="Comment">
    <label>Комментарий</label>
    <input type="hidden" name="id" value="@Model.Id"/>
    <input type="text" name="content"/>
    <input type="submit"/>
</form>

<div class="comment-list">
    @foreach (var i in Model.Comments)
    {
        <div class="comment">
            <p class="author-comment">@i.Writer</p>
            <p class="author-comment">Пост говно атписка</p>
            <div class="comment-button">
                <a style="color: red" asp-action="Comment">Удалить</a>
                <a>Редактировать</a>
            </div>
        </div>
    }
</div>
</body>
</html>